{% extends "base.html" %}

{% block content %}
    <h2>Список профессий</h2>
    {% set list_prof = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
                        'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите',
                        'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог',
                        'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
    <ul>
        {% for user in list_prof %}
        {% if list == 'ul' %}
            <li>{{ user }}</li>
        {% elif list == 'ol' %}
            {{ loop.index }}. {{ user }}<br>
        {% endif %}
        {% endfor %}
    </ul>

{% endblock %}